.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.Sidebar {
  width: 250px;
  height: 100vh;
  background-color: #636e72;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}

.Sidebar .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.Sidebar .title {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.Sidebar.hide {
  left: -100%;
  transition: all 2s ease-in;
}

.App-logo {
  height: 300px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo:hover {
    animation: App-logo-spin-reverse infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: calc(100% - 310px);
  position: relative;
  transition: width 1s ease-in;
  margin-left: auto;
}

.App-header.full {
  width: 100%;
}

.App-header .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.checkboxes-container {
  margin-top: 3rem;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 1px white;
}

.primary .checkmark {
  border-color: #ccc;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  /* position: absolute; */
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #01756a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-text {
  margin-left: 2rem;
  font-weight: 600;
  font-size: 18px;
  color: white;
}
